/*Homepage css 1300px*/
@media screen and (min-width: 1300px) {
    .col-md-offset-2 {
        margin-left: 120px;
    }
    .feed-sort-option {
        float: left;
        width: 450px;
    }
    .post-form {
        float: right;
        width: 650px;
        margin-right: 50px;
    }
    .post-form-wrap {
        margin-left: 0px;
        width: 100%;
    }
    .post-form form {
        width: calc(100vw - 300px);
        margin-right: 20px;
        float: right;
        margin-left: auto;
    }
    .feed > .container {
        width: 1250px;
        width: 100%;
    }
    .feed-posts .post {
        padding: 0 50px;
    }
    .feed-posts .post:nth-of-type(2n+1) {
        background-color: #ecf0f1;
    }
    .feed-posts .comments-count-wrap {
        padding-top: 40px !important;
        padding-left: 100px;
        width: 190px;
    }
    .feed-posts .col-md-10 {
        width: calc(100% - 200px);
    }
    .feed-posts .col-md-10 .col-md-2 {
        width: 160px;
    }
    .feed-posts .media-image-link {
        width: 90px;
        height: 90px;
    }
    .feed-posts .actions {
        position: absolute;
        top: 3px;
        left: -35px;
    }
    .feed-posts .post .votes {
        padding-right: 0;
    }
    .feed-posts .votes > .vote {
        width: 28px;
        height: 50px;
        display: block;
    }
    .feed-posts .votes > .vote > a,
    .feed-posts .votes > .vote > span {
        display: block;
        height: 28px;
        width: 28px;
        text-align: center;
        line-height: 28px;
    }
    .feed-posts .post-info {
        width: calc(100% - 220px);
    }
    .feed-posts .post-title {
        font-size: 22px;
    }
    .feed-posts .post .promote {
        margin-left: 85px;
        width: calc(100% - 290px);
        height: 200px;
        z-index: 100;
    }
}
}

/*Topic css 1300px*/
@media screen and (min-width: 1300px) {
    .topic > .container {
        width: 100%;
    }
    .col-sm-offset-2 {
        margin-left: 120px;
    }
    .topic-stickies .actions-row {
        position: absolute;
        top: -10px;
        left: -240px;
    }
    .post .stickie-dtf {
        right: 150px;
    }
    .topic-stickies {
        background-color: #FAFAD2;
        clear: both;
    }
    .topic-stickies .post {
        background-color: #FAFAD2;
    }
    .post .stickie-hide-left,
    .post .stickie-hide-right {
        background-color: #FAFAD2;
        display: none !important;
    }
    .topic-content .post,
    .topic-stickies .post {
        padding: 0 50px;
    }
    .topic-content .post:nth-of-type(2n+1) {
        background-color: #ecf0f1;
    }
    .topic-content .comments-count-wrap,
    .topic-stickies .comments-count-wrap {
        padding-top: 40px !important;
        padding-left: 100px;
        width: 190px;
    }
    .topic-content .col-md-10,
    .topic-stickies .col-md-10 {
        width: calc(100% - 200px);
    }
    .topic-content .col-md-10 .col-md-2,
    .topic-stickies .col-md-10 .col-md-2 {
        width: 160px;
    }
    .topic-content .media-image-link,
    .topic-stickies .media-image-link {
        width: 90px;
        height: 90px;
    }
    .topic-content .actions,
    .topic-stickies .actions {
        position: absolute;
        top: 3px;
        left: -35px;
    }
    .topic-content .post .votes,
    .topic-stickies .post .votes {
        padding-right: 0;
    }
    .topic-content .votes > .vote,
    .topic-stickies .votes > .vote {
        width: 28px;
        height: 50px;
        display: block;
    }
    .topic-content .votes > .vote > a,
    .topic-content .votes > .vote > span,
    .topic-stickies .votes > .vote > a,
    .topic-stickies .votes > .vote > span {
        display: block;
        height: 28px;
        width: 28px;
        text-align: center;
        line-height: 28px;
    }
    .topic-content .post-info,
    .topic-stickies .post-info {
        width: calc(100% - 220px);
    }
    .topic-content .post-title,
    .topic-stickies .post-title {
        font-size: 22px;
    }
    .topic-content .post .promote,
    .topic-stickies .post .promote {
        margin-left: 85px;
        width: calc(100% - 290px);
        height: 200px;
        z-index: 100;
    }
}

/*Homepage css 1600px*/
@media screen and (min-width: 1600px) {
    .navmenu-fixed-left {
        display: block;
    }
    .navbar,
    .headroom {
        width: calc(100% - 300px);
        right: 0;
        left: 300px;
    }
    .nav-wrap .text-center {
        padding-right: 150px;
    }
    .navbar-nav .btn-default {
        display: none;
    }
    main {
        width: calc(100% - 300px);
        margin-right: 0px;
        display: block;
        float: right;
    }
    .post-form form {
        width: calc(100vw - 600px);
        margin-right: 20px;
        float: right;
        margin-left: auto;
    }
}

@media screen and (min-width: 1600px) {
    #sidebar:after {
        content: '';
        height: 140px;
        width: 140px;
        display: block;
        box-sizing: content-box;
        overflow: hidden;
        position: fixed;
        left: 255px;
        top: 15px;
        border-top-left-radius: 50%;
        border: 45px solid #2d545e;
        border-right: 0px;
        border-bottom: 0px;
        z-index: 1;
    }
}

/*Colors*/
.offcanvas .list-group-item,
.offcanvas {
    background-color: #1c343a;
    border: 0px;
}
#search_form input {
    background-color: #48727c;
}
.xp-user {
    background-color: #2d545e;
    border-bottom: 2px #213d44 solid;
}
.offcanvas .list-group-item:hover {
    background-color: #dcf1f7;
}
.navbar-default {
    background-color: #2d545e;
}
.navbar-default .logo h5,
.navbar-default #mytopics,
.navbar-default .caret,
.navbar-default .fa-bell,
.navbar-default .fa-envelope {
    color: rgba(241, 241, 241, 1);
}
.navbar-nav > .dropdown > a .caret {
    border-top-color: #f1f1f1 !important;
    border-bottom-color: #f1f1f1 !important;
}
